template(name='bioeventPanel')
  .bioevent-panel.side-panel
    .header
      h5.bioevent-panel-title Events
      .bioevent-controls
        select#rank-metric
          each rankMetrics
            option(value=name selected=selected)=label
        a(href="/about#rankmetrics").tooltip-btn(
          data-tooltip-top="-200"
          data-tooltip-direction="w"
          data-tooltip="This is a ranked list of disease events that currently threaten the focused location via the flight network. Click here for a detailed description of the ranking metrics.")
          i.fa.fa-question-circle
    ul.list-unstyled.bioevent-items
      each bioevents
        +bioeventItem maxCases=maxCases bioevent=this dateRange=../dateRange

  .modal(tabindex='-1', role='dialog')#rank-info-modal
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5.modal-title Rank Info
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body.content
        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') Close
