template(name='map')
  .map-page-container
    nav.subheader
      h5.title {{selectedLocationName}} Inbound
      .map-controls
        select#map-type
          each mapTypes
            option(value=name selected=selected)=label
        a.tooltip-btn(
          href="/about#maptypes"
          data-tooltip-direction="w"
          data-tooltip="Click here for descriptions of the map layers.")
          i.fa.fa-question-circle
    #map
    +legend title=legendTitle ramp=legendRamp
    +bioeventPanel dateRange=dateRange
  +tooltips
