template(name='bioeventItem')
  li.bioevent-item
    h6
      span.filter-map(
        data-tooltip-direction="w"
        data-tooltip="Only show threat from this bioevent.")
        if bioeventFilterActive
          i.fa.fa-map
        else
          i.fa.fa-map-o
      a(href="/bioevents/#{bioevent.event.eventId}")=bioevent.event.name
      if bioevent.rank
        .rank-score.rank-data Rank Score: {{formatNumber bioevent.rank}}
      else if bioevent.lastIncident
        .rank-data Last Incident: #{bioevent.lastIncident}
      else if bioevent.activeCases
        .rank-data Estimated Active Cases: {{formatNumber bioevent.activeCases}}
      else if bioevent.newCases
        .rank-data New Cases: {{formatNumber bioevent.newCases}}
    #[+timeline dateRange=dateRange max=timelineMax resolvedBioevent=bioevent.event]#[.minimap]
