template(name='bioeventPanel')
  .bioevent-panel.side-panel
    .header
      h5.bioevent-panel-title Events
      .bioevent-controls
        span Ranked by
        select#rank-metric
          each rankMetrics
            option(value=name selected=selected)=label
        i.fa.fa-filter.bioevent-filter
        a.tooltip-btn(
          href="/about#rankmetrics"
          target="_blank"
          data-tooltip-top="-200"
          data-tooltip-direction="w"
          data-tooltip="This is a ranked list of disease events that currently threaten the focused location via the flight network. Click here for a detailed description of the ranking metrics.")
          i.fa.fa-question-circle
    ul.list-unstyled.bioevent-items.side-panel-body
      each bioevents
        +bioeventItem maxCasesForLocation=maxCasesForLocation timelineMax=timelineMax bioevent=this dateRange=dateRange

  .modal(tabindex='-1', role='dialog')#rank-info-modal
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5.modal-title Rank Info
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body.content
        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') Close

  .modal(tabindex='-1', role='dialog')#filter-modal
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5.modal-title Filter Bioevents
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body.content
          label Hide diseases with a severity coefficient below this level:
          p
            i (1.0 is the highest severity)
          .value
            input.form-control.input-box.min-disease-severity(
              type="number"
              value=minDiseaseSeverity
              step="0.1"
              max="1.0"
              min="0")
        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') Close
          button.btn.btn-primary.set-filter(type='button') Set Filter
