template(name='bioevent')
  .map-page-container
    nav.subheader
      h5.title {{resolvedBioevent.name}}
      .map-controls
        select#map-type
          each mapTypes
            option(value=name selected=selected)=label
        a.tooltip-btn(
          target="_blank"
          data-tooltip-direction="w"
          data-tooltip="Click to show map info.")
          i.fa.fa-question-circle
    #map
      +helpPanel mapType=mapType
    +legend title=legendTitle ramp=legendRamp layers=layers airportType=airportType
    .side-panel
      .header
        h5.bioevent-panel-title Summary
      .bioevent-details.side-panel-body
        if resolvedBioevent
          +timeline dateRange=dateRange resolvedBioevent=resolvedBioevent
        .summary-section
          .section-head
            span.show-destinations(style="color:#{ramps.INBOUND_LINE};")
              if showingTopDestinations
                i.fa.fa-circle
              else
                i.fa.fa-circle-o
            | Top Destinations
            .controls
              input(type="checkbox" checked=USOnly).us-only-checkbox
              | US Only
          p Values are percentages of the global threat exposure
          ol.airport-list
            each topDestinations
              li 
                if USOnly
                  span.other-rank (Global rank: {{globalDestRank}})
                else if USDestRank
                  span.other-rank (US Airport)
                a(href=link) #{name}:
                .value {{formatNumber value}}%
          if hasForesightModel
            a.create-foresight-sim.destinations(href="#") Create foresight simulation with these values
        .summary-section
          .section-head
            span.show-origins(style="color:#{ramps.OUTBOUND_LINE};")
              if showingTopOrigins
                i.fa.fa-circle
              else
                i.fa.fa-circle-o
            | Top Origins
          p Values are percentages of the global threat level
          ol.airport-list
            each topOrigins
              li
                a(href=link) #{name}:
                .value {{formatNumber value}}%
          if hasForesightModel
            a.create-foresight-sim.origins(href="#") Create foresight simulation with these values
        .summary-section
          .section-head
            | View and edit detailed bioevent info in 
            | <a href="https://eidr-connect.eha.io/events/auto-events/#{resolvedBioevent.eventId}">EIDR Connect</a>.
  +tooltips
  .modal(tabindex='-1', role='dialog')#foresight-sim-modal
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5.modal-title Create Foresight Simulation
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body.content
        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') Close