template(name="configure")
  .configuration-container
    h4 Configuration
    .configuration
      label Log-scale timelines:
      .value
        +onOffBtns state=states.logTimeline
      label Use consistent scale for all timelines:
      .value
        +onOffBtns state=states.globalScale
      label Constrain side panel mini-maps:
      .value
        +onOffBtns state=states.constrainMaps
      label Display active case timeseries by default:
      .value
        +onOffBtns state=states.defaultActiveCaseTimeseries
      label Show help panel:
      .value
        +onOffBtns state=states.showHelpPanel
      label Hide airport bubbles below this percentage of the maximum value bubble:
      .value
        +inputBox type="number" state=states.airportCutoffPercentage
