template(name="legend")
  .map-legend
    .title=title
    .values
      each legendValues
        .value(style="background:#{color}")
    hr
    .layers
      each layers
        .layer
          input(type="checkbox" name=name checked=active)
          | #{label}
