template(name='lemis')
  .map-page-container.lemis
    nav.subheader
      .map-controls
        select#map-type
          each mapTypes
            option(value=name selected=selected)=label
        a.tooltip-btn(
          target="_blank"
          data-tooltip-direction="w"
          data-tooltip="Click to show map info."
          class=helpPanelVisible)
          i.fa.fa-question-circle
      h5.title Imports of Live Non-Aquatic Wildlife to the US
    #map
      +helpPanel mapType=mapType
    +legend title=legendTitle ramp=legendRamp
    .side-panel
      .header
        span.country Country
        .unit=unit
      .side-panel-body
        .summary-section
          ol
            each topLocations
              li
                span.location #{name}
                .value {{#if moneyType}}${{/if}}{{formatNumber value}}
  +tooltips
