template(name='splash')
  .map-page-container
    nav.subheader
      h5.title All US Locations
      .map-controls
        select#map-type
          each mapTypes
            option(value=name selected=selected)=label
        a.tooltip-btn(
          target="_blank"
          data-tooltip-direction="w"
          data-tooltip="Click to show map info.")
          i.fa.fa-question-circle
    #map
      +helpPanel mapType=mapType
    +legend title=legendTitle ramp=legendRamp layers=layers airportType=airportType
    +bioeventPanel
  +tooltips
